services:
  - type: web
    name: fieldtrack-backend
    env: docker
    dockerfilePath: ./backend/Dockerfile
    dockerContext: ./backend
    region: frankfurt
    plan: free
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: JWT_SECRET_KEY
        generateValue: true
      - key: CLIENT_BASE_URL_ONLINE
        value: https://votre-frontend.vercel.app
      - key: CLIENT_BASE_URL_LOCAL
        value: http://localhost:4200
      - key: CLIENT_BASE_URL_FLUTTER
        value: http://localhost:4300
