services:
  - type: web
    name: fieldtrack-backend
    region: frankfurt
    plan: free
    buildCommand: cd backend && chmod +x gradlew && ./gradlew clean build -x test
    startCommand: cd backend && java -jar build/libs/fieldtrack.jar --server.port=$PORT
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: JWT_SECRET_KEY
        generateValue: true
      - key: CLIENT_BASE_URL_ONLINE
        value: https://votre-frontend.vercel.app
      - key: CLIENT_BASE_URL_LOCAL
        value: http://localhost:4200
      - key: CLIENT_BASE_URL_FLUTTER
        value: http://localhost:4300
