.layout-topbar-custom {
    --topbar-bg: #346ac2;
    --topbar-start-bg: #2a5399;
    --topbar-menu-button-bg: #ffffff;
    --topbar-menu-button-hover-bg: #f0f0f0;
    --topbar-menu-button-text-color: #346ac2;
    --topbar-item-text-color: #ffffff;
    --topbar-item-hover-bg: rgba(255,255,255,.15);
}
