.layout-topbar-red {
    --topbar-bg: #d80b0b;
    --topbar-start-bg: #aa0101;
    --topbar-menu-button-bg: #FFFFFF;
    --topbar-menu-button-hover-bg: #EEE;
    --topbar-menu-button-text-color: #212121;
    --topbar-item-text-color: #ffffff;
    --topbar-item-hover-bg: rgba(255,255,255,.12);
}
