//:host ::ng-deep {
//	.p-dropdown {
//		width: 100%;
//	}
//
//	.p-chart {
//		height: 100%;
//	}
//}
//
//.card {
//	box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
//				0 1px 1px 0 rgba(0, 0, 0, 0.14),
//				0 1px 3px 0 rgba(0, 0, 0, 0.12);
//}
//
//label {
//	color: var(--text-color);
//	font-weight: 600;
//}
//
//h3 {
//	color: var(--text-color);
//	margin-bottom: 0.5rem;
//}
//
//h4 {
//	color: var(--text-color);
//}
//
//h5 {
//	color: var(--text-color);
//	font-size: 1.1rem;
//}
